NODE_ENV=development

PORT=3000

DATABASE_URL=
REDIS_URL=

JWT_SECRET=
JWT_EXPIRES_IN=8h

BOOTSTRAP_TENANT_NAME=
BOOTSTRAP_TENANT_SLUG=
BOOTSTRAP_ORGANIZATION_NAME=
BOOTSTRAP_OWNER_NAME=
BOOTSTRAP_OWNER_EMAIL=
BOOTSTRAP_OWNER_PASSWORD=
